<header>
    <div class="header-container">
        <a href="/" class="logo-wrapper">
            <img src="{{ url_for('static', path='img/ESCUDO.jpeg') }}" alt="Escudo" style="height: 50px; width: auto; border-radius: 8px;">
            <div class="logo-title">
                <h1>MASTER SERIES</h1>
            </div>
        </a>
        <nav>
            <a href="https://masterseries.com.co/">Sobre Nosotros</a>
            <a href="/">Términos y Condiciones</a>
        </nav>
    </div>
</header>
